#body {
	height: 100%;
	position: relative;
}

#status-els {
	position: absolute;
}

#game-board {
	display: grid;
	/*grid-template-rows: 9rem 1fr 9rem;*/
	/*grid-template-rows: repeat(4, 1fr);*/
	grid-template-rows: 1fr 1fr 3rem 1fr 1fr;
	grid-row-gap: 5px;
	/*border: 3px solid black;*/
	height: 100%;
}

.threewide {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 5px;
	/*border: 3px solid red;*/
	padding: 5px;
}

/*
#row2 {
	display: grid;
	grid-template-columns: 27rem 1fr 27rem;
	border: 3px solid red;
}

#row2col2 {
	display: grid;
	grid-template-rows: 1fr 9rem;
	border: 3px solid blue;
}

#player-table {
	border: 3px solid black;
}*/

#deck-area {
	height: 6rem;
	width: 10rem;
	/*border: 3px solid black;
	left: calc(50% - 4rem);
	top: calc(50% - 5rem);*/
	right: 0;

	position: absolute;
}

#status {
	position: absolute;
}

#draw-card {
	position: absolute;
	left: 5rem;
}

#player-hand {
	position: relative;
}

.table {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-row-gap: 3px;
	padding: 5px;
	visibility: hidden;
	/*border: 3px solid black;*/
}

.trick {
	border: 2px inset black;
	/*background: #c0c0c0;*/
	height: 4.2rem;
	position: relative;
}

/*
#player-table {
	height: 8rem;
	left: 16rem;
	right: 16rem;
	position: absolute;
	border: 3px solid red;
	bottom: 8rem;
}

#player-hand {
	height: 8rem;
	width: 100%;
	position: absolute;
	border: 3px solid black;
	bottom: 0;
}*/
